nav{
  margin-bottom: 5px;
}

.btn-voltar{
  float: right;
  padding: 15px;
  margin-top: 10px;
}

.div-title{
  margin-bottom: 15px;
}

.title{
  border-left: 1px solid #ccc;
  padding-left: 2px;
  margin-top: 10px;
}

.title-span{
  margin-left: 8px;
}

.form-row {
  display: flex;
}

.margin-left{
  margin-left: 10px;
}

button{
  margin-top: 15px;
  float: right;
}

.text-right{
  text-align: right;
}

